<h1>Liste des eleves</h1>

<a href="/eleve/ajouter">Ajouter Eleves</a>

{% for eleve in eleves %}
    <eleve>
        <table>
        <tr>
            <td>{{ eleve.nom }}</td>
            <td>{{ eleve.prenom}}</td>
            <td>{{ eleve.moyenne}}</td>
            </tr>
        </table>

{% endfor %}